# for Imaging-C
*.sxu
#*.ini
*.aps
*.mku
*.scx

# VC++
*.ncb
*.aps
*.suo

# for java 
*.class
*.jar

# From Wayne Rasband...
*~

# Windows stuff
Thumbs.db

# Mac Stuff
.DS_Store

# For this module
config
magCalD692/.Rhistory
ImageJ/Analyze_Line/*.class

.Rproj.user

