# for Imaging-C
*.sxu
#*.ini
*.aps
*.mku
*.scx

# VC++
*.ncb
*.aps
*.suo

# for java 
*.class
*.jar

# From Wayne Rasband...
*~

# Windows stuff
Thumbs.db

# Mac Stuff
.DS_Store

# For this module
config
magCalD692/.Rhistory
ImageJ/Analyze_Line/*.class
ImageJ/Analyze_Line/std/*.csv

# don't keep the Rcheck dirs
jrm-r-pkgs/.RData
jrm-r-pkgs/analab.Rcheck/
jrm-r-pkgs/edp.Rcheck/
jrm-r-pkgs/measureLines.Rcheck/
jrm-r-pkgs/jrmmisc.Rcheck/
jrm-r-pkgs/tikzDevice.Rcheck/
# or the built packages
jrm-r-pkgs/*.gz
# or pdf in the test directory
jrm-r-pkgs/testCode/*.pdf

# want to ignore generated plug-in
dm-plugins/CM-plugin/*.gtk
dm-plugins/DMSUG-plugin/*.gtk
dm-plugins/JRM-plugin/*.gtk

dtsa2/index.md
dtsa2/index.html

.Rproj.user
.Rhistory

jrm-r-pkgs/.RData

jrm-r-pkgs/tikzDevice/src/symbols.rds
jrm-r-pkgs/tikzDevice/src/tikzDevice.dll
jrm-r-pkgs/tikzDevice/src/tikzDevice.so
jrm-r-pkgs/tikzDevice/src/tikzDevice.o
